
body{
    font-weight: 700;
    font-family: 'Patrick Hand', cursive;
}
.navbar-brand{
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.navbar-toggler{
    border-color: black !important;

}
h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
h4{
    text-align: center;
    margin-bottom: 10px;
}
section{
    background: rgb(156, 156, 156);
}
@media (max-width: 767px ) { 
h2{
    margin-bottom: 10px;
    margin-top: 10px;
}
section{
    width: 70%;
    margin-left: 15%;
}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
h2{
    margin-bottom: 30px;
    margin-top: 10px;
}
section{
    width: 97%;
    margin-left: 1%;
}
 }
